<p>stylebindingexample works!</p>

<h1 [style.border-style]="preferredBorderStyle" [style.width]="preferredWidthPercentage" [style.height]="preferredHeightInCms">Welcome to Angular Style Binding</h1>
<p [style.background-color]="qty<50 ? 'red': 'green'">Stock Level</p>

<p [ngStyle]="myStyles">
    The India men's national cricket team represents
    India in international cricket. It is governed by the
    Board of Control for Cricket in India (BCCI) and is a full
    member nation of the International Cricket Council with Test,
    One Day International and Twenty20 International status.
    India are the current holders of the T20 World Cup, the
    ICC Champions Trophy and the Asia Cup.
 
    The team has played 598 Test matches, winning 185,
    losing 188, with 224 draws and 1 tie. As of August 2025,
    India is ranked fourth in the ICC Men's Test Team Rankings
    with 107 rating points. India have played in two of the three
    World Test Championship finals, finishing
    runners-up in 2021 and 2023.
</p>

<div>
    This is div content
</div>