 p {
     background-color: black;
     color: white;
     font-family: "verdana";
     font-size: xx-large;
     font-weight: bolder;
     border-color: blue;
     border-style: solid;
     border-width: 5mm;

 }

 img {
     width: 300px;
     height: 300px;
     border: solid 2mm black;
     margin: 5cm;
     padding: 2cm;
     background-color: gray;

 }

 .important {
     width: 60%;
     height: 500px;
     border: solid 5mm green;
 }

 #india {
     width: 20%;
     height: 1800px;
     background-color: blue;
     color: white;
 }