<p>pipingexample works!</p>

{{message | uppercase}}
<br>
{{otherBankName | uppercase}}
<br>
{{description | titlecase}}
<br>
{{myName | lowercase}}
<br>
{{savingsAccountBalance | currency}}
<br>
{{ savingsAccountBalance | currency:'USD':'symbol' }}
<br>
<p>{{ savingsAccountBalance | currency:'EUR':'symbol':'3.5-7': 'en' }}</p>
<br>
<p>{{ savingsAccountBalance | number :'3.5-7' }}</p>
<p>{{accountStartDate}}</p>
<p>{{accountStartDate | date}}</p>
<p>{{accountStartDate | date : 'medium'}}</p>

<p>{{accountStartDate | date :'fullDate'}}</p>
<p>{{accountStartDate | date :'short'}}</p>
<p>{{accountStartDate | date :'longDate'}}</p>

<p>{{accountStartDate | date :'mediumDate'}}</p>
<p>{{accountStartDate | date :'shortDate'}}</p>

<p>{{accountStartDate | date :'mediumTime'}}</p>
<p>{{accountStartDate | date :'shortTime'}}</p>

<p>{{accountStartDate | date :'yyyy'}}</p>
<p>{{accountStartDate | date :'yy'}}</p>
<p>{{accountStartDate | date :'H:m'}}</p>
<p>{{accountStartDate | date :'yyyy-MM-dd h:mm:ss a'}}</p>

<p>{{interestRate | number : '4.3-5'}}</p>
<p>{{myAddress | json}}</p>

<p>{{interestRate | percent }}</p>
<p>{{interestRate | percent : '4.3-5'}}</p>

<p>{{description | slice :3:20}}</p>


<p>{{description | slice :3}}</p>


