<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <div class="container">

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/add">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/list">Show All</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  routerLink="/edit">Edit</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  routerLink="/delete">Delete</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/find">Search</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>



<router-outlet />